<!-- HERO -->
{{ partial:partials/hero }}

<!-- LATEST SERMON -->
<section class="py-24 text-white bg-gray-900">
    <div class="container">
        <div class="flex flex-col lg:flex-row lg:items-center">
            <div class="flex-grow mb-6 lg:mb-0">
                <h2 class="text-xs uppercase tracking-widest text-gray-500">Latest Sermon</h2>
                {{ collection:sermons limit="1" }}
                <h3 class="text-4xl font-serif font-bold">{{ title }}</h3>
                {{ partial:partials/sermon-info }}
                <div class="w-32 h-2 my-4 bg-color"></div>
            </div>
            <div>
                <a class="button" href="{{ url }}">Listen Now →</a>
                {{ /collection:sermons }}
            </div>
        </div>
    </div>
</section>

<!-- ABOUT -->
<section class="py-16 sm:py-32">
    <div class="container">
        <div class="bg-gray-100 p-8 sm:p-16">
            <div class="grid gap-x-10 gap-y-4 items-center grid-cols-2 lg:grid-cols-3">
                <div class="col-span-2">
                    <h2 class="text-xs uppercase tracking-widest text-gray-400">About</h2>
                    <h3 class="text-4xl font-serif font-bold">{{ about_title }}</h3>
                    <div class="w-32 h-2 my-4 bg-color"></div>
                    <div class="rich-text">{{ about_content }}</div>
                </div>
                <div class="col-span-2 lg:col-span-1">
                    <img src="{{ about_image }}{{ url }}" alt="{{ alt }}" class="object-cover w-full lg:h-112" style="object-position: {{ focus_css }}{{ /about_image }}">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EVENTS -->
{{ collection:events recurring_event:is="false" as="non_recurring" event_date:gte="{today format='Y-m-d'}" sort="event_date:asc" }}
{{ if non_recurring | count > 0 }} <!-- Check if any non-recurring events exist -->
<section class="py-16 sm:py-32">
    <div class="container mx-auto">
        <h2 class="text-xs uppercase tracking-widest text-gray-400">Happening</h2>
        <h3 class="text-4xl font-serif font-bold">Upcoming Events</h3>
        <div class="w-32 h-2 my-4 bg-color"></div>

        <div class="grid gap-4 text-center text-white grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
            {{ non_recurring limit="3" }} <!-- Loop through up to 3 non-recurring events -->
            <a href="{{ url }}" class="relative overflow-hidden pb-full">
                <div class="absolute h-full w-full bg-black bg-opacity-50 flex flex-col justify-center items-center z-10 hover:bg-overlay transition duration-200">
                    <h4 class="font-serif text-2xl font-bold leading-snug pb-1">{{ title }}</h4>
                    <p class="text-sm">{{ event_date format="F j, Y" }}</p>
                </div>
                <img class="absolute h-full w-full object-cover" src="{{ image }}{{ url }}" alt="{{ alt }}" style="object-position: {{ focus_css }};"{{ /image }}>
            </a>
            {{ /non_recurring }}
            {{ if non_recurring | count > 3 }} <!-- Check if more than 3 non-recurring events exist -->
            <a href="/events?type=upcoming" class="relative overflow-hidden pb-full">
                <div class="absolute h-full w-full bg-grey-500 bg-opacity-50 flex flex-col justify-center items-center z-10 hover:bg-overlay transition duration-200">
                    <h4 class="font-serif text-2xl font-bold leading-snug pb-1">View More →</h4>
                </div>
                <img class="absolute h-full w-full object-center object-cover" src="{{ asset url="/assets/site/calendar.jpg" }}{{ url }}" alt="{{ alt }}{{ /asset }}">
            </a>
            {{ /if }}
        </div>
    </div>
</section>
{{ /if }}
{{ /collection:events }}

<!-- CONNECT -->
<section class="py-16 sm:py-32">
    <div class="container">
        <div class="bg-gray-100 p-8 sm:p-16">
            <div class="flex flex-col sm:grid sm:items-center gap-y-4 sm:gap-x-4 grid-cols-1 grid-rows-4 sm:grid-cols-2 sm:grid-rows-3 lg:grid-cols-3 lg:grid-rows-2">
                <div class="mb-6 lg:mb-0 col-span-1 sm:col-span-2 lg:col-span-1 lg:row-span-2">
                    <h2 class="text-xs uppercase tracking-widest text-gray-400">Community</h2>
                    <h3 class="text-4xl font-serif font-bold">{{ connect_title }}</h3>
                    <div class="w-32 h-2 my-4 bg-color"></div>
                    {{ connect_content }}
                </div>
                <a href="{{ block_1_link }} {{ url }} {{ /block_1_link }}" class="relative overflow-hidden pb-full sm:pb-64 col-span-1 row-span-1">
                    <div class="absolute h-full w-full bg-black text-white bg-opacity-50 flex flex-col justify-center items-center z-10 hover:bg-overlay transition duration-200">
                        <h4 class="font-serif text-2xl font-bold">{{ block_1_title }}</h4>
                    </div>
                    <img class="absolute h-full w-full object-center object-cover" {{ block_1_image }}src="{{ url }}" alt="{{ alt }}" style="object-position: {{ focus_css }}"{{ /block_1_image }}>
                </a>
                <a href="{{ block_2_link }} {{ url }} {{ /block_2_link }}" class="relative overflow-hidden h-full pb-full sm:pb-64 col-span-1 row-span-1 sm:row-span-2">
                    <div class="absolute h-full w-full bg-black text-white bg-opacity-50 flex flex-col justify-center items-center z-10 hover:bg-overlay transition duration-200">
                        <h4 class="font-serif text-2xl font-bold">{{ block_2_title }}</h4>
                    </div>
                    <img class="absolute h-full w-full object-center object-cover" {{ block_2_image }}src="{{ url }}" alt="{{ alt }}" style="object-position: {{ focus_css }}"{{ /block_2_image }}>
                </a>
                <a href="{{ block_3_link }} {{ url }} {{ /block_3_link }}" class="relative overflow-hidden pb-full sm:pb-64 col-span-1 row-span-1">
                    <div class="absolute h-full w-full bg-black text-white bg-opacity-50 flex flex-col justify-center items-center z-10 hover:bg-overlay transition duration-200">
                        <h4 class="font-serif text-2xl font-bold">{{ block_3_title }}</h4>
                    </div>
                    <img class="absolute h-full w-full object-center object-cover" {{ block_3_image }}src="{{ url }}" alt="{{ alt }}" style="object-position: {{ focus_css }}"{{ /block_3_image }}>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- BLOG -->
{{ if settings:blog }} <!-- Check if blog is enabled in settings -->
{{ collection:blog_posts as="posts" sort="date:desc" }}
{{ if posts | count > 0 }} <!-- Check if any blog posts exist -->
<section class="py-16 sm:py-32">
    <div class="container mx-auto">
        <h2 class="text-xs uppercase tracking-widest text-gray-400">LATEST</h2>
        <h3 class="text-4xl font-serif font-bold">From the Blog</h3>
        <div class="w-32 h-2 my-4 bg-color"></div>

        <div class="grid gap-4 text-center text-white grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
            {{ posts limit="3" }} <!-- Loop through up to 3 blog posts -->
            <a href="{{ url }}" class="relative pb-full overflow-hidden">
                <div class="absolute h-full w-full bg-black bg-opacity-50 flex flex-col justify-center items-center z-10 hover:bg-overlay transition duration-200">
                    <h4 class="font-serif text-2xl font-bold">{{ title }}</h4>
                    <p class="text-sm">{{ date format="F j, Y" }}</p>
                </div>
                <img class="absolute h-full w-full object-center object-cover" src="{{ image }}{{ url }}" alt="{{ alt }}" style="object-position: {{ focus_css }}"{{ /image }}>
            </a>
            {{ /posts }}
            {{ if posts | count > 3 }} <!-- Check if more than 3 blog posts exist -->
            <a href="/blog" class="relative pb-full overflow-hidden">
                <div class="absolute h-full w-full  bg-black bg-opacity-50 flex flex-col justify-center items-center z-10 hover:bg-overlay transition duration-200">
                    <h4 class="font-serif text-2xl font-bold">View More →</h4>
                </div>
                <img class="absolute h-full w-full object-center object-cover" src="{{ asset url="/assets/site/blog.jpg" }}{{ url }}" alt="{{ alt }}"{{ /asset }}>
            </a>
            {{ /if }}
        </div>
    </div>
</section>
{{ /if }}
{{ /collection:blog_posts }}
{{ /if }}