{{ if !settings:blog }}{{ redirect to="/" }}{{ /if }}
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 text-white text-center mt-10">
{{ collection:blog_posts limit="12" paginate="true" as="posts" }}
    {{ posts }}
    <a href="{{ url }}" class="relative overflow-hidden pb-40 sm:pb-full">
        <div class="absolute h-full w-full bg-black bg-opacity-50 flex flex-col justify-center items-center z-10 hover:bg-overlay transition duration-200">
            <h4 class="font-serif text-2xl font-bold leading-snug pb-1">{{ title }}</h4>
            <p class="text-sm">{{ date format="F j, Y" }}</p>
        </div>
        <img class="absolute h-full w-full object-cover" src="{{ image }}{{ url }}" alt="{{ alt }}" style="object-position: {{ focus_css }};"{{ /image }}>
    </a>
    {{ /posts }}
</div>
{{ partial:partials/paginate }}
{{ /collection:blog_posts }}