<header class="pt-56 pb-20 bg-cover text-white relative" style="background-image: url('{{ if !image }}{{ settings:hero_image }}{{ url }}{{ /settings:hero_image }}{{ else }}{{ image }}{{ url }}{{ /image }}{{ /if }}'); background-position: {{ if !image }}{{ settings:hero_image }}{{ focus_css }}{{ /settings:hero_image }}{{ else }}{{ image }}{{ focus_css }}{{ /image }}{{ /if }}">
    <div class="container mx-auto z-10 relative">
        <h1 class="text-7xl font-serif font-bold">{{ title }}</h1>
        {{ if collection=="sermons"}}
            {{ partial:partials/sermon-info theme="white" }}
        {{ elseif collection=="blog_posts"}}
            {{ partial:partials/blog-info }}
        {{ elseif collection=="events"}}
        {{ partial:partials/event-info }}
        {{ /if }}
    </div>
    <div class="absolute inset-0 bg-black bg-opacity-25"></div>
</header>