<div id="menu" class="absolute inset-0 bg-gray-900 text-white z-40 overflow-auto">
    <div class="flex justify-center items-center mt-32 sm:mt-40 lg:pt-40 lg:mt-0 lg:h-screen">
        <div class="menu container grid grid-rows-2 row-gap-8 lg:row-gap-20">
            <nav>
                <h2 class="font-serif text-4xl sm:text-5xl lg:text-6xl font-bold">About</h2>
                <div class="w-32 h-2 my-4 bg-color"></div>
                <ul>
                    {{ collection:about_pages }}
                    <li class="pt-2"><a href="{{ url }}" class="hover:text-color">{{ title }}</a></li>
                    {{ /collection:about_pages }}
                    {{ collection:hidden_pages slug:is="people" }}
                    <li class="pt-2"><a href="{{ url }}" class="hover:text-color">{{ title }}</a></li>
                    {{ /collection:hidden_pages }}
                </ul>
            </nav>
            <nav>
                <h2 class="font-serif text-4xl sm:text-5xl lg:text-6xl font-bold">Ministries</h2>
                <div class="w-32 h-2 my-4 bg-color"></div>
                <ul>
                    {{ collection:ministry_pages }}
                    <li class="pt-2"><a href="{{ url }}" class="hover:text-color">{{ title }}</a></li>
                    {{ /collection:ministry_pages }}
                </ul>
            </nav>
            <nav>
                <h2 class="font-serif text-4xl sm:text-5xl lg:text-6xl font-bold">Resources</h2>
                <div class="w-32 h-2 my-4 bg-color"></div>
                <ul>
                    <li class="pt-2"><a href="/sermons?by=all" class="hover:text-color">Sermons</a></li>
                    {{ if settings:blog }}<li class="pt-2"><a href="/blog" class="hover:text-color">Blog</a></li>{{ /if }}
                </ul>
            </nav>
            <nav>
                <h2 class="font-serif text-4xl sm:text-5xl lg:text-6xl font-bold">Events</h2>
                <div class="w-32 h-2 my-4 bg-color"></div>
                <ul>
                    <li class="pt-2"><a href="/events?type=upcoming" class="hover:text-color">Upcoming</a></li>
                    <li class="pt-2"><a href="/events?type=recurring" class="hover:text-color">Recurring</a></li>
                </ul>
            </nav>
            <nav>
                <a class="font-serif text-4xl sm:text-5xl lg:text-6xl font-bold hover:text-color" href="/contact">Contact</a>
                <div class="w-32 h-2 my-4 bg-color"></div>
            </nav>
            <nav>
                <a class="font-serif text-4xl sm:text-5xl lg:text-6xl font-bold hover:text-color" href="{{ settings:donate_link }}" target="_blank">Donate</a>
                <div class="w-32 h-2 my-4 bg-color mb-16 md:mb-0"></div>
            </nav>
        </div>
    </div>
</div>