<div class="inline-flex flex-wrap gap-x-4 gap-y-8 w-full justify-between items-center">
    <div>
        <h1 class="text-4xl font-bold font-serif">
            {{ if get:by=="all" && last_segment=="sermons" }}
            View All
            {{ elseif get:by=="scripture" && last_segment=="sermons" }}
            Sermons by Scripture - {{ taxonomy:bible_books }}{{ if get:scripture == slug }}{{ title }}{{ /if }}{{ /taxonomy:bible_books }}
            {{ elseif get:by=="series" && last_segment=="sermons" }}
            Sermons by Series - {{ collection:sermon_series }}{{ if get:series == slug }}{{ title }}{{ /if }}{{ /collection:sermon_series }}
            {{ elseif last_segment=="sermons-by-scripture" }}
            Sermons by Scripture
            {{ elseif last_segment=="sermons-by-series" }}
            Sermons by Series
            {{ /if }}
        </h1>
    </div>

    <!-- Desktop options -->
    <div class="flex font-bold text-sm hidden md:block">
        <a href="/sermons?by=all" class="px-6 py-3 border border-gray-100 ml-2 {{ if get:by=="all" && last_segment=="sermons" }} border-color bg-color text-white{{ /if }}">View All</a>
        <a href="/sermons-by-scripture" class="px-6 py-3 border border-gray-100 ml-2 {{ if get:by=="scripture" || last_segment=="sermons-by-scripture" }} border-color bg-color text-white{{ /if }}">Scripture</a>
        <a href="/sermons-by-series" class="px-6 py-3 border border-gray-100 ml-2 {{ if get:by=="series" || last_segment=="sermons-by-series" }} border-color bg-color text-white{{ /if }}">Series</a>
    </div>

    <!-- Mobile options -->
    <div class="relative md:hidden">
        <div id="dropdown-btn" class="border border-gray-200 px-5 py-3 flex justify-between w-40 text-sm font-semibold cursor-pointer">
            {{ if get:by=="all" && last_segment=="sermons" }}
            View All
            {{ elseif get:by=="scripture" || last_segment=="sermons-by-scripture" }}
            Scripture
            {{ elseif get:by=="series" || last_segment=="sermons-by-series" }}
            Series
            {{ /if }}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </div>
        <div id="dropdown-menu" class="absolute right-0 w-40 bg-white border border-gray-100 border-t-0 rounded-m text-sm font-semibold z-20">
            <a href="/sermons?by=all" class="block px-6 py-2 mt-2 hover:bg-color hover:text-white">View All</a>
            <a href="/sermons-by-scripture" class="block px-6 py-2 hover:bg-color hover:text-white">Scripture</a>
            <a href="/sermons-by-series" class="block px-6 py-2 mb-2 hover:bg-color hover:text-white">Series</a>
        </div>
    </div>
</div>
