<div class="flex justify-between content-center">
    <h1 class="text-3xl font-bold">
        {{ if get:by=="all" && last_segment=="sermons" }}
        View All
        {{ elseif get:by=="scripture" && last_segment=="sermons" }}
        Sermons by Scripture - {{ taxonomy:bible_books }}{{ if get:scripture == slug }}{{ title }}{{ /if }}{{ /taxonomy:bible_books }}
        {{ elseif get:by=="series" && last_segment=="sermons" }}
        Sermons by Series - {{ collection:sermon_series }}{{ if get:series == slug }}{{ title }}{{ /if }}{{ /collection:sermon_series }}
        {{ elseif last_segment=="sermons-by-scripture" }}
        Sermons by Scripture
        {{ elseif last_segment=="sermons-by-series" }}
        Sermons by Series
        {{ /if }}
    </h1>
    <div class="flex">
        <a href="/sermons?by=all" class="px-6 py-3 border border-gray-100 font-bold text-sm ml-2 {{ if !get && last_segment=="sermons" }} border-color bg-color text-white{{ /if }}">View All</a>
        <a href="/sermons-by-scripture" class="px-6 py-3 border border-gray-100 font-bold text-sm ml-2 {{ if get:by=="scripture" || last_segment=="sermons-by-scripture" }} border-color bg-color text-white{{ /if }}">Scripture</a>
        <a href="/sermons-by-series" class="px-6 py-3 border border-gray-100 font-bold text-sm ml-2 {{ if get:by=="series" || last_segment=="sermons-by-series" }} border-color bg-color text-white{{ /if }}">Series</a>
    </div> 
</div>