<div class="flex">
    <div class="flex-grow pr-12">
        {{ collection:people roles:contains="Elder" as="elders" }}
        <h2 class="font-serif text-3xl font-bold mb-4">Elders</h2>
        <div class="grid grid-cols-3 gap-x-4 gap-y-8 mb-12">
            {{ elders }}
                <a href="{{ url }}" class="col-span-1 hover:text-color">
                    {{ image }}<img src="{{ url }}" alt="{{ alt }}" class="object-cover w-full mb-2" style="object-position: {{ focus_css }}; height: 400px;">{{ /image }}
                    <p class="font-bold text-xl">{{ title }}</p>
                    <p class="text-sm">{{ position }}</p>
                </a>
            {{ /elders }}
        </div>
        {{ /collection:people }}  
        {{ collection:people roles:contains="Deacon" as="deacons" }}
        <h2 class="font-serif text-3xl font-bold mb-4">Deacons</h2>
        <div class="grid grid-cols-3 gap-x-4 gap-y-8 mb-12">
            {{ deacons }}
                <a href="{{ url }}" class="col-span-1 hover:text-color">
                    {{ image }}<img src="{{ url }}" alt="{{ alt }}" class="object-cover w-full mb-2" style="object-position: {{ focus_css }}; height: 400px;">{{ /image }}
                    <p class="font-bold text-xl">{{ title }}</p>
                    <p class="text-sm">{{ position }}</p>
                </a>
            {{ /deacons }}
        </div>
        {{ /collection:people }}     
        {{ collection:people roles:contains="Ministry Leader" as="leaders" }}
        <h2 class="font-serif text-3xl font-bold mb-4">Ministry Leaders</h2>
        <div class="grid grid-cols-3 gap-x-4 gap-y-8 mb-12">
            {{ leaders }}
                <a href="{{ url }}" class="col-span-1 hover:text-color">
                    {{ image }}<img src="{{ url }}" alt="{{ alt }}" class="object-cover w-full mb-2" style="object-position: {{ focus_css }}; height: 400px;">{{ /image }}
                    <p class="font-bold text-xl">{{ title }}</p>
                    <p class="text-sm">{{ position }}</p>
                </a>
            {{ /leaders }}
        </div>
        {{ /collection:people }}
    </div>

    <nav class="border-l border-gray-100">
        <ul>
            {{ collection:about_pages }}
                <li class="pl-12 py-4 border-l-4 border-transparent {{ if current_uri == url }}border-color text-color{{ /if }}"><a href="{{ url }}" class="font-serif font-bold whitespace-no-wrap">{{ title }}</a></li>
            {{ /collection:about_pages }}
            {{ collection:hidden_pages slug:is="leadership" }}
                <li class="pl-12 py-4 border-l-4 border-transparent {{ if current_uri == url }}border-color text-color{{ /if }}"><a href="{{ url }}" class="font-serif font-bold whitespace-no-wrap">{{ title }}</a></li>
            {{ /collection:hidden_pages }}
        </ul>
    </nav>
</div>
