{{ partial:partials/sermon-header }}
{{ if get:by=="all" }}
    {{ collection:sermons as="sermons" limit="20" paginate="true" }}
        {{ sermons }}
            <div class="py-10 border-b border-gray-100 {{ paginate }}{{ if last && total_pages == 1 }}border-none{{ /if }}{{ /paginate }}">
                <a href="{{ url }}"><h2 class="font-serif font-bold text-2xl pb-2 hover:text-color">{{ title }}</h2></a>
                <p class="text-sm"><strong>Date: </strong>{{ sermon_date format="F j, Y" }}  |  <strong>Speaker: </strong>{{ collection:people :id:is="speaker" }}<a href="?by=speaker&speaker={{ slug }}" class="link">{{ title }}</a>{{ /collection:people }}  |  <strong>Scripture: </strong>{{ taxonomy:bible_books :title:is="bible_book" }}<a href="?by=scripture&scripture={{ slug }}" class="link">{{ title }}</a>{{ /taxonomy:bible_books }} {{ chapter_and_verse }}  |  <strong>Series: </strong>{{ collection:sermon_series :id:is="sermon_series" }}<a href="?by=series&series={{ slug }}" class="link">{{ title }}</a>{{ /collection:sermon_series }}</p>
            </div>
        {{ /sermons }}
        <div class="mt-10 flex text-sm">
            {{ paginate }}
                {{ if total_pages > 1 }}
                    {{ if current_page != 1 }}
                        <a href="{{ prev_page }}" class="flex mr-8 hover:text-color"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-3 w-3 mr-1" style="margin-top: 3px;"><path stroke-linecap="square" stroke-linejoin="square" stroke-width="2" d="M15 19l-7-7 7-7" /></svg> Previous</a>
                    {{ /if }}
                    <div class="mr-8">{{ current_page }} / {{ total_pages }}</div>
                    {{ if current_page < total_pages }}
                        <a href="{{ next_page }}" class="flex hover:text-color">Next <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-3 w-3 ml-1" style="margin-top: 4px;"><path stroke-linecap="square" stroke-linejoin="square" stroke-width="2" d="M9 5l7 7-7 7" /></svg></a>
                    {{ /if }}
                {{ /if }}
            {{ /paginate }}
        </div>
    {{ /collection:sermons }}

    {{ elseif get:by=="scripture" }}
    {{ taxonomy:bible_books }}
            {{ if get:scripture == slug }}
                {{ collection:sermons :bible_book:is="title" as="sermons" limit="20" paginate="true" }}
                    {{ sermons }}
                        <div class="py-10 border-b border-gray-100 {{ paginate }}{{ if last && total_pages == 1 }}border-none{{ /if }}{{ /paginate }}">
                            <a href="{{ url }}"><h2 class="font-serif font-bold text-2xl pb-2 hover:text-color">{{ title }}</h2></a>
                            <p class="text-sm"><strong>Date: </strong>{{ sermon_date format="F j, Y" }}  |  <strong>Speaker: </strong>{{ collection:people :id:is="speaker" }}<a href="?by=speaker&speaker={{ slug }}" class="link">{{ title }}</a>{{ /collection:people }}  |  <strong>Scripture: </strong><a href="?by=scripture&scripture={{ bible_book | slugify }}" class="link">{{ bible_book }}</a> {{ chapter_and_verse }}  |  <strong>Series: </strong>{{ collection:sermon_series :id:is="sermon_series" }}<a href="?by=series&series={{ slug }}" class="link">{{ title }}</a>{{ /collection:sermon_series }}</p>
                        </div>
                    {{ /sermons }}
                    <div class="mt-10 flex text-sm">
                        {{ paginate }}
                            {{ if total_pages > 1 }}
                                {{ if current_page != 1 }}
                                    <a href="{{ prev_page }}" class="flex mr-8 hover:text-color"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-3 w-3 mr-1" style="margin-top: 3px;"><path stroke-linecap="square" stroke-linejoin="square" stroke-width="2" d="M15 19l-7-7 7-7" /></svg> Previous</a>
                                {{ /if }}
                                <div class="mr-8">{{ current_page }} / {{ total_pages }}</div>
                                {{ if current_page < total_pages }}
                                    <a href="{{ next_page }}" class="flex hover:text-color">Next <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-3 w-3 ml-1" style="margin-top: 4px;"><path stroke-linecap="square" stroke-linejoin="square" stroke-width="2" d="M9 5l7 7-7 7" /></svg></a>
                                {{ /if }}
                            {{ /if }}
                        {{ /paginate }}
                    </div>
                {{ /collection:sermons }}
            {{ /if }}
        {{ /taxonomy:bible_books }}

    {{ elseif get:by=="series" }}
        {{ collection:sermon_series }}
            {{ if get:series == slug }}
                {{ collection:sermons :sermon_series:is="id" as="sermons" limit="20" paginate="true" }}
                    {{ sermons }}
                        <div class="py-10 border-b border-gray-100 {{ paginate }}{{ if last && total_pages == 1 }}border-none{{ /if }}{{ /paginate }}">
                            <a href="{{ url }}"><h2 class="font-serif font-bold text-2xl pb-2 hover:text-color">{{ title }}</h2></a>
                            <p class="text-sm"><strong>Date: </strong>{{ sermon_date format="F j, Y" }}  |  <strong>Speaker: </strong>{{ collection:people :id:is="speaker" }}<a href="?by=speaker&speaker={{ slug }}" class="link">{{ title }}</a>{{ /collection:people }}  |  <strong>Scripture: </strong>{{ taxonomy:bible_books :title:is="bible_book" }}<a href="?by=scripture&scripture={{ slug }}" class="link">{{ title }}</a>{{ /taxonomy:bible_books }} {{ chapter_and_verse }}  |  <strong>Series: </strong><a href="?by=series&series={{ sermon_series:slug }}" class="link">{{ sermon_series:title }}</a></p>
                        </div>
                    {{ /sermons }}
                    <div class="mt-10 flex text-sm">
                        {{ paginate }}
                            {{ if total_pages > 1 }}
                                {{ if current_page != 1 }}
                                    <a href="{{ prev_page }}" class="flex mr-8 hover:text-color"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-3 w-3 mr-1" style="margin-top: 3px;"><path stroke-linecap="square" stroke-linejoin="square" stroke-width="2" d="M15 19l-7-7 7-7" /></svg> Previous</a>
                                {{ /if }}
                                <div class="mr-8">{{ current_page }} / {{ total_pages }}</div>
                                {{ if current_page < total_pages }}
                                    <a href="{{ next_page }}" class="flex hover:text-color">Next <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-3 w-3 ml-1" style="margin-top: 4px;"><path stroke-linecap="square" stroke-linejoin="square" stroke-width="2" d="M9 5l7 7-7 7" /></svg></a>
                                {{ /if }}
                            {{ /if }}
                        {{ /paginate }}
                    </div>
                {{ /collection:sermons }}
            {{ /if }}
        {{ /collection:sermon_series }}
    {{ /if }}
</div>