{{ if !get }}{{ redirect to="/sermons?by=all" }}{{ /if }} <!-- Auto redirect to "View All" -->

{{ partial:partials/sermon-header }}

<!-- View All -->

{{ if get:by=="all" }}

    {{ collection:sermons as="sermons" limit="20" paginate="true" }}
        {{ partial:partials/sermon-item }}
    {{ /collection:sermons }}

<!-- By Scripture -->

{{ elseif get:by=="scripture" }}

    {{ taxonomy:bible_books }}

        {{ if get:scripture == slug }}

            {{ collection:sermons :bible_book:is="title" as="sermons" limit="20" paginate="true" }}
                {{ partial:partials/sermon-item }}
            {{ /collection:sermons }}

        {{ /if }}

    {{ /taxonomy:bible_books }}

<!-- By Series -->

{{ elseif get:by=="series" }}

    {{ collection:sermon_series }}

        {{ if get:series == slug }}

            {{ collection:sermons :sermon_series:is="id" as="sermons" limit="20" paginate="true" }}
                {{ partial:partials/sermon-item }}
            {{ /collection:sermons }}

        {{ /if }}

    {{ /collection:sermon_series }}
    
{{ /if }}