{{ if video }}
<div {{ if video && audio }}id="video"{{ /if }} class="relative" style="padding-top: 56.25%">
    <iframe class="absolute inset-0 w-full h-full" 
    src="
        {{ if video | contains:youtube }}
            {{ video replace="watch?v=|embed/" }}
        {{ elseif video | contains:vimeo }}
            {{ video replace="vimeo.com|player.vimeo.com/video" }}
        {{ /if }}
            ">
    </iframe>
</div>
{{ /if }}
{{ if audio }}
    <audio {{ if video && audio }}id="audio"{{ /if }} controls preload="metadata" class="w-full">
        <source src="{{ audio }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<div class="text-center mt-6">
    {{ if video && audio }}<button id="video-button" class="py-2 px-8 mr-0 bg-color text-white text-xs border border-color">Video</button><button id="audio-button" class="py-2 px-8 text-color text-xs border border-color">Audio</button>{{ /if }}
    <button class="py-2 px-8 text-color text-xs border border-color"><a href="{{ audio }}">Download MP3</a></button>
</div>
{{ /if }}
<h2 class="mt-10 mb-4 font-serif font-bold text-3xl">Description</h2>
<div class="rich-text">
    {{ description }}
</div>